<% if(typeof alert != 'undefined') { %> <% alert.forEach(function(error) { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <%= error.msg %>
  <span type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </span>
</div>
<% }) %> <% } %>
